= form_for doodle, html: {class: 'form-horizontal', id: 'doodle-form'} do |f|
  .control-group
    = f.label :text, class: 'control-label'
    .controls
      = f.text_field :text
  = f.hidden_field :image, value: ''
  = render 'partials/sketch', player: player

  .control-group
    .controls
      = f.submit 'Create', class: 'btn'
