- @doodles.each do |doodle|
  .doodle{id: "doodle-#{doodle.id}"}
    .score
      .upvote{id: "doodle-up-#{doodle.id}"} &#11014;
      .score= doodle.votes.up.size - doodle.votes.down.size
      .downvote{id: "doodle-down-#{doodle.id}"} &#11015;
    .image= image_tag doodle.image.url
